.env
tweets/*
kaggle/archive*
kaggle/processed-data/
twitter-scraper/tweets/
Report/*.zip
Report/*.toc
Report/*.synctex.gz
Report/*.log
Report/*.aux
Report/*.lof
Report/*.bbl
Report/*.blg
Report/*.out
