.env
tweets/*
kaggle/archive*
twitter-scraper/tweets/
Report/*.zip
Report/*.toc
Report/*.synctex.gz
Report/*.log
Report/*.aux
Report/*.lof
Report/*.bbl
Report/*.blg
Report/*.out
data/*
Report/data/*
prev-data/*
kaggle/data/*
kaggle/processed-data-raw/*
kaggle/processed-data/*
kaggle/outstanding-stock-info/*
sestm/articles-pulled/*